In [1]:
import pandas as pd
import folium

In [2]:
ufo = pd.read_csv('./ufo-scrubbed-geocoded-time-standardized.csv', header=None)
ufo = ufo.drop(columns=[6, 8, 9, 10])
ufo = ufo.rename(columns={0:'occurrence', 1:'city', 2:'state', 3:'country', 4:'shape', 
                            5:'time_seconds', 7:'desc'})
ufo = ufo[ufo.country == 'us'].reset_index()
ufo = ufo.drop(columns=['index', 'country'])
ufo

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,occurrence,city,state,shape,time_seconds,desc
0,10/10/1949 20:30,san marcos,tx,cylinder,2700,This event took place in early fall around 194...
1,10/10/1956 21:00,edna,tx,circle,20,My older brother and twin sister were leaving ...
2,10/10/1960 20:00,kaneohe,hi,light,900,AS a Marine 1st Lt. flying an FJ4B fighter/att...
3,10/10/1961 19:00,bristol,tn,sphere,300,My father is now 89 my brother 52 the girl wit...
4,10/10/1965 23:45,norwalk,ct,disk,1200,A bright orange color changing to reddish colo...
...,...,...,...,...,...,...
65109,9/9/2013 21:15,nashville,tn,light,600,Round from the distance/slowly changing colors...
65110,9/9/2013 22:00,boise,id,circle,1200,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...
65111,9/9/2013 22:00,napa,ca,other,1200,Napa UFO&#44
65112,9/9/2013 22:20,vienna,va,circle,5,Saw a five gold lit cicular craft moving fastl...
65113,9/9/2013 23:00,edmond,ok,cigar,1020,2 witnesses 2 miles apart&#44 Red &amp; White...

In [3]:
cities = pd.read_csv('./uscities.csv')
cities = cities[['city', 'state_id', 'lat', 'lng']]
cities['city'] = cities['city'].str.lower()
cities['state_id'] = cities['state_id'].str.lower()
cities = cities.rename(columns={'state_id':'state'})
cities

               city state      lat       lng
0       south creek    wa  46.9994 -122.3921
1            roslyn    wa  47.2507 -121.0989
2           sprague    wa  47.3048 -117.9713
3        gig harbor    wa  47.3352 -122.5968
4      lake cassidy    wa  48.0639 -122.0920
...             ...   ...      ...       ...
28884      montrose    sd  43.7002  -97.1843
28885     spearfish    sd  44.4912 -103.8167
28886         emery    sd  43.6020  -97.6195
28887     watertown    sd  44.9094  -97.1532
28888       buffalo    sd  45.5864 -103.5434

[28889 rows x 4 columns]

In [4]:
data = pd.merge(ufo, cities, on=['city','state'])
data

,occurrence,city,state,shape,time_seconds,desc,lat,lng
0,10/10/1949 20:30,san marcos,tx,cylinder,2700,This event took place in early fall around 194...,29.8736,-97.9380
1,10/2/2005 09:15,san marcos,tx,diamond,5400,Very bright light was seen over South direction,29.8736,-97.9380
2,12/10/1965 21:00,san marcos,tx,light,60,What happened on that buss in 1965&#44 in Texas,29.8736,-97.9380
3,1/24/2014 19:23,san marcos,tx,disk,720,I was heading toward downtown from my house on...,29.8736,-97.9380
4,1/30/2009 20:04,san marcos,tx,triangle,1500,object flew over me&#44 in triangle shape with...,29.8736,-97.9380
...,...,...,...,...,...,...,...,...
55833,9/9/2000 03:30,gardiner,mt,light,120,Yankee Stadium in the middle of nowhere,45.0570,-110.7421
55834,9/9/2000 21:30,white oak,ms,fireball,20,fireball with small round object leaving it af...,34.6438,-90.3495
55835,9/9/2009 20:45,mountain,wi,light,120,obj with comet tail followed by another object...,45.1864,-88.4681
55836,9/9/2010 22:00,lemitar,nm,fireball,300,orange lights in the southeastern sky in New M...,34.1551,-106.9122
55837,9/9/2011 10:20,double springs,al,sphere,3600,Strange bright spheres in the sky that sometim...,34.1496,-87.4027

In [5]:
folium.Map()

In [8]:
geo = pd.read_csv('us-states.json')

FileNotFoundError: [Errno 2] File b'us-states.json' does not exist: b'us-states.json'

In [7]:
geo

'us_states.json'